<div>
	<h1>Biblioteca</h1>
	<%= link_to 'Gerenciar livros', controller: 'books' %>
	<div>
		<img src="http://i0.wp.com/www.unicap.br/biblioteca/pages/wp-content/uploads/2011/11/1610828_840333252676001_3736729291491708654_n.jpg?resize=728%2C447" alt="1610828_840333252676001_3736729291491708654_n" height="447" width="728">
	</div>
</div>
